
<div class="container">
    <div class="content">
        <h2 style="color:lightseagreen;">VIEW RECORDS</h2><br><br>
        <!-- <table class="table" border="none" style="width:30%;align-items:center;">
            
            <tbody>
                
                <tr>
                    <td data-label="Attribute"><strong>Record:</strong></td>
                    <td data-label="Values" colspan="2"><select>
                        <option>Monthly</option>
                        <option>Weekly</option>
                        <option>Yearly</option>
                    </select></td>
                </tr>
            </tbody>
        </table> -->
<br><br>
        <table class="table" border="none" style="width:50%;align-items:center;">
           
            <tbody>
                
                <tr style="border:none;">
                    <td data-label="Attribute"><strong>Select Year:</strong></td>
                    <td data-label="Values" colspan="2"><select>
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                    </select></td>
                </tr>
                
                <tr style="border:none;">
                    <td data-label="Attribute"><strong>Select Month:</strong></td>
                    <td data-label="Values" colspan="2"><select>
                        <option>January</option>
                        <option>February</option>
                        <option>March</option>
                        <option>April</option>
                        <option>May</option>
                        <option>June</option>
                        <option>July</option>
                        <option>August</option>
                        <option>September</option>
                        <option>October</option>
                        <option>November</option>
                        <option>December</option>
                    </select></td>
                </tr>
                
            </tbody>
        </table>
<br><br>

        <table class="table table-result" border="none">
            
            <tbody>
                
                <tr>
                    <td data-label="Attribute"><strong>Total Patients Treated:</strong></td>
                    <td data-label="Values" colspan="2">10,123</td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Total Doctors Added:</strong></td>
                    <td data-label="Values" colspan="2">10</td>
                </tr>
                <tr>
                  <td data-label="Attribute"><strong>Total Doctors Removed:</strong></td>
                  <td data-label="Values" colspan="2">5</td>
              </tr>
                <tr>
                    <td data-label="Attribute"><strong>Total Appoinments Taken:</strong></td>
                    <td data-label="Values" colspan="2">10,123</td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Total Appoinments Cancelled:</strong></td>
                    <td data-label="Values" colspan="2">456</td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Total Fee Collected:</strong></td>
                    <td data-label="Values" colspan="2">Rs. 10,10,700</td>
                </tr>
                
            </tbody>
        </table>
        
        
    </div>
</div>

