<div class="container">
    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="card-content">
                    <div class="number">67</div>
                    <div class="card-name">Appoinments</div>
                </div>
                <div class="icon-box">
                    <i class="fas fa-briefcase-medical"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="number">32</div>
                    <div class="card-name">Receipts</div>
                </div>
                <div class="icon-box">
                    <img src="/assets/images/payment-receipt.png" alt="" width="16%">
                </div>
            </div>
           
        </div>








        <!-- <div class="cards">
            <div class="card">
                <div class="box">
                    <h1>3</h1>
                    <h3>Appoinments</h3>
                </div>
                <div class="icon-case">
                    <img src="/assets/images/book-appoinment.jpg" alt="" width="16%">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <h1>5</h1>
                    <h3>Receipts</h3>
                </div>
                <div class="icon-case">
                    <img src="/assets/images/payment-receipt.png" alt="" width="16%">
                </div>
            </div>
        </div>
        <div class="content-2">

        </div> -->
        
    </div>
</div>