
<div class="container">
    <div class="content">
        <h2 style="color:lightseagreen;">ADMIN PROFILE</h2><br><br>
        <!-- <div class="doctor-profile">
            <h4>Doctor ID : Ananya04</h4>
            <img src="/assets/images/doctor-profile.jpg" alt="" width="10%;">
        </div> -->
        
        <table class="table" border="none">
            
            <tbody>
                <!-- <tr>
                    <td data-label="Attribute"></td>
                    <td data-label="Values"><img src="/assets/images/doctor-profile.jpg" alt="" width="40px;"></td>
                </tr> -->
                <tr>
                    <td data-label="Attribute"><strong>Name:</strong></td>
                    <td data-label="Values" colspan="2">Admin</td>
                </tr>
                
                <tr>
                    <td data-label="Attribute"><strong>Mobile no:</strong></td>
                    <td data-label="Values" colspan="2">9897976654</td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Email:</strong></td>
                    <td data-label="Values" colspan="2">admin@gmail.com</td>
                </tr>
                
                
                <!-- <tr>
                    <td data-label="Attribute"></td>
                    <td data-label="Values"><img src="" alt="" width="40px;"></td>
                </tr> -->
                <!-- <tr>
                    <td colspan="2" class="button_row"><a href="{% url 'editprofile_customerpage' %}"><button>Edit Profile</button></a></td>
                </tr> -->
                
                
    
            </tbody>
        </table>
        
        
    </div>
</div>
