
<div class="container">
    <div class="content">
        <h2 style="color:lightseagreen;">PAYMENT RECEIPT</h2><br><br>
        <h5 style="text-align:right;">Bill Date: 23/12/2022 04:38PM</h5>
        <table class="table1">
            
            <tbody>
                
                <tr>
                    <td>Mobile No</td>
                    <td>: 9897976654</td>
                    
                </tr>
                <tr>
                    <td>Patient Name</td>
                    <td>: Rahul</td>
                </tr>
                <tr>
                    <td>Age/Sex</td>
                    <td>: 19 years/M</td>
                    <td colspan="5" style="text-align:right;">Ref No</td>
                    <td colspan="3" style="text-align:right;">: 13456</td>
                </tr>
                <tr>
                    <td>Address</td>
                    <td>: Thrissur,Kerala</td>
                    <td colspan="5" style="text-align:right;">Bill No</td>
                    <td>: C9456</td>
                </tr>
                
                
            </tbody>
            
        </table>
<br>
        <table class="table" border="1px solid">
            <thead>
                
                    <th>S.No</th>
                    <th>Services</th>
                    <th>Base Price(Rs.)</th>
                    
                    <th>Discount</th>
                    <th>Net Amount(Rs.)</th>
                    <th>Tax Amt(Tax %)</th>
                    <th>Bill Amt(Rs)</th>
                
            </thead>
            <tbody>
                <tr>
                    <td data-label="S.No">1</td>
                    <td data-label="Services">Ananya(ENT)(consultation)</td>
                    <td data-label="Base Price(Rs.)">500.00</td>
                
                    <td data-label="Discount">0.00</td>
                    <td data-label="Net Amount(Rs.)">500.00</td>
                    <td data-label="Tax Amt(Tax %)"></td>
                    <td data-label="Bill Amt(Rs)">500.00</td>
                </tr>
                <tr>
                    <td colspan="7" style="text-align:right;">Total: 500.00</td>
                </tr>
                
            </tbody>
            
        </table>
<h5 style="text-align:right;">Paid by Patient: 500.00</h5>
    </div>
</div>
