<app-navbar></app-navbar>
<img src="/assets/images/about.jpg" class="d-block w-100" alt="..."width="150%;">
<section class="about-us" style="margin-bottom:15%;">
    <div class="container">
      <div class="col">
        <div class="about_us">
            <!-- <h2>About Us</h2> -->
            <!-- <hr style="border-bottom: 2px solid #ff4584;margin-bottom: 5%;"> -->
          <h2 style="border-bottom: 2px solid rgb(19, 187, 179);margin-bottom: 5%;color:#607d8b;">About Us</h2>
          
          <p style="color:#607d8b;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae et iusto praesentium pariatur iure laboriosam numquam quas, odit nulla doloremque fugit aut. Nulla, itaque odit eius vel assumenda consequuntur qui voluptatibus dicta cumque? Non accusantium id qui veniam velit quos delectus itaque a necessitatibus vitae eveniet consectetur magnam quisquam deserunt expedita doloremque maxime aspernatur ex enim, sunt numquam aut! Maxime sint delectus consequatur exercitationem, similique, autem in voluptatem non amet eius minima voluptatibus aspernatur ipsa dolor nemo rem dicta porro expedita. Ipsum aut dolorum perspiciatis quasi magnam quo officiis quis dolorem iste soluta? Rem saepe, quisquam odio sunt at asperiores.</p>
        </div>
    
      </div>
      
    </div>
  </section>
 
