<div class="container">
    <div class="content">
        <h2 style="color:lightseagreen;">PATIENT APPOINMENT STATUS</h2><br><br>
        <table class="table" border="1px solid">
            <thead>
                
                    <th>Ref No</th>
                    <th>Patient Name</th>
                    <th>Doctor Name</th>
                    <th>Dept</th>
                    <th>Consultant Fee</th>
                    <th>Status</th>
                    <th>Cancel</th>
                    <th>Payment</th>
                
            </thead>
            <tbody>
                <tr>
                    <td data-label="Ref No">13456</td>
                    <td data-label="Patient Name">Rahul</td>
                <td data-label="Doctor Name">Ananya</td>
                <td data-label="Dept">ENT</td>
                <td data-label="Consultant Fee">500.00</td>
                <td data-label="Status">Confirmed</td>
                <td data-label="Cancel"><a href="" style="text-decoration:none;">Cancel</a></td>
                <td data-label="Payment">Paid</td>
                </tr>
                
            </tbody>
            
               
                
                
               
                
                
    
           
        </table>
    </div>
</div>
