<div class="container">
    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="card-content">
                    <div class="number">67</div>
                    <div class="card-name">Appoinments Confirmed</div>
                </div>
                <div class="icon-box">
                    <i class="fas fa-wheelchair"></i>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="number">32</div>
                    <div class="card-name">Appoinments Cancelled</div>
                </div>
                <div class="icon-box">
                    <i class="fas fa-briefcase-medical"></i>
                </div>
            </div>
           
        </div>






        <!-- <div class="cards">
            <div class="card">
                <div class="box">
                    
                    <div class="card-content">
                        <h1>5</h1>
                        <h3>Appoinments Confirmed</h3>
                    </div>
                </div>
                <div class="icon-case">
                    <img src="/assets/images/book-appoinment.jpg" alt="" width="14%">
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <div class="card-content">
                        <h1>5</h1>
                        <h3>Appoinments Cancelled</h3>
                    </div>
                   
                </div>
                <div class="icon-case">
                    <img src="/assets/images/book-appoinment.jpg" alt="" width="14%">
                </div>
            </div>
        </div>
        <div class="content-2">

        </div> -->
        
    </div>
</div>
