.container{
    position: absolute;
    right: 10%;
    width: 58vw;
    /* height: 100vh; */
    background: white;
    margin-top: 14%;
}
.container .content{
    position: relative;
    margin-top: 0vh;
    min-height: 90vh;
    /* background: #f1f1f1; */
}
   

/* .container .content .cards{
    padding:20px 15px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container .content .cards .card{
    width:250px;
    height:190px;
    margin:20px 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1),0 6px 20px 0 rgba(0,0,0,0.19);
    border:none;
    display:flex;
    align-items: center;
    justify-content: space-around;

}
h3{
    color:#444;
}
.card-content{
    padding:12px 12px;
}


@media screen and (max-width: 536px){
    .container .content .cards{
        justify-content: center;
    }
    .side-menu li img{
        width:30px;
        height: 30px;
        
    }
} */



.cards{
    
    width:100%;
    padding:35px 20px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:20px;
}
.cards .card{
    background: lightseagreen;
    padding:20px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
}
.number{
    font-size:35px;
    font-weight:500px;
    color:#fff;
}
.card-name{
    color:#444;
    font-weight: 600;

}
.icon-box i{
    font-size: 45px;
    color:#444;
}
@media(max-width:860px){
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
}
@media(max-width:530px){
    .cards{
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media(max-width:420px){
    
   
    .cards{
        padding:10px;
    }
   
}