<div class="container">
    <div class="content">
        <h2>Treatment Details</h2>
            <table class="table" border="none">
                
                <tbody>
                    <tr>
                        <td data-label="Attribute">Treatment Name:</td>
                        <td data-label="Values">Nose Problem</td>
                    </tr>
                    <tr>
                        <td data-label="Attribute">Doctor Name:</td>
                        <td data-label="Values">Dr. Ananya, ENT Specialist</td>
                    </tr>
                    <tr>
                    <td data-label="Attribute">Prescription:</td>
                    <td data-label="Values">Fluticasone/Mometasone Nose Spray</td>
                </tr>
                    <tr>
                        <td data-label="Attribute">Remark:</td>
                        <td data-label="Values">Use at Bedtime</td>
                    </tr>
                    <tr>
                        <td data-label="Attribute">Advice:</td>
                        <td data-label="Values">You don't get the full effect for several days or even a week,But if you use it daily, it'll be incredibly effective</td>
                    </tr>
                    
                    <!-- <tr>
                        <td colspan="2" class="button_row"><a href="{% url 'editprofile_customerpage' %}"><button>Edit Profile</button></a></td>
                    </tr> -->
                    
                    

                </tbody>
            </table>
    </div>
</div>