
<div class="container">
    <div class="content">
        <h2 style="color:lightseagreen;">DOCTOR PROFILE</h2><br><br>
        <div class="doctor-profile">
            <h4>Doctor ID : Ananya04</h4>
            <img src="/assets/images/doctor-profile.jpg" alt="" width="10%;">
        </div>
        
        <table class="table" border="none">
            
            <tbody>
                <!-- <tr>
                    <td data-label="Attribute"></td>
                    <td data-label="Values"><img src="/assets/images/doctor-profile.jpg" alt="" width="40px;"></td>
                </tr> -->
                <tr>
                    <td data-label="Attribute"><strong>Name:</strong></td>
                    <td data-label="Values" colspan="2">Dr. Ananya</td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Age:</strong></td>
                    <td data-label="Values" colspan="2">35</td>
                </tr>
                <tr>
                  <td data-label="Attribute"><strong>Gender:</strong></td>
                  <td data-label="Values" colspan="2">Female</td>
              </tr>
                <tr>
                    <td data-label="Attribute"><strong>Specialization:</strong></td>
                    <td data-label="Values" colspan="2">ENT</td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Experience:</strong></td>
                    <td data-label="Values" colspan="2">15 years</td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Language Spoke:</strong></td>
                    <td data-label="Values" colspan="2">English, Hindi</td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Mobile no:</strong></td>
                    <td data-label="Values" colspan="2">9897976654</td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Email:</strong></td>
                    <td data-label="Values" colspan="2">ananya56@gmail.com</td>
                </tr>
                <tr>
                    <td data-label="Attribute" colspan="3"><strong>Schedule:</strong></td>
                    
                </tr>
                <tr>
                    
                    <td data-label="Values">Monday</td>
                    <td data-label="Values">Wednesday</td>
                    <td data-label="Values">Friday</td>
                </tr>
                <tr>
                    <td data-label="Values">9.00AM-12:00PM</td>
                    <td data-label="Values">2:00PM-4:00PM</td>
                    <td data-label="Values">12:00PM-3:00PM</td>
                </tr>
                
                <!-- <tr>
                    <td data-label="Attribute"></td>
                    <td data-label="Values"><img src="" alt="" width="40px;"></td>
                </tr> -->
                <!-- <tr>
                    <td colspan="2" class="button_row"><a href="{% url 'editprofile_customerpage' %}"><button>Edit Profile</button></a></td>
                </tr> -->
                
                
    
            </tbody>
        </table>
        
        
    </div>
</div>