
<div class="container">
    <div class="content">
        <h2 style="color:lightseagreen;">LIST OF DOCTORS AND THEIR DEPARTMENT</h2>
        <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>
        <br><br>
        <!-- <table class="table" border="none">
            <thead>
                <tr>
                    <th>Name of Doctor</th>
                    <th>Department</th>
                    <th>Consultant Fee</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td data-label="Attribute">Ananya</td>
                    <td data-label="Values">ENT</td>
                    <td data-label="Values">600.00</td>
                </tr>
                <tr>
                    <td data-label="Attribute">Mohit</td>
                    <td data-label="Values">General Medicine</td>
                    <td data-label="Values">400.00</td>
                </tr>
                <tr>
                    <td data-label="Attribute">Raju</td>
                    <td data-label="Values">Pediatrician</td>
                    <td data-label="Values">500.00</td>
                </tr>
                <tr>
                    <td data-label="Attribute">Abid</td>
                    <td data-label="Values">Cardiologist</td>
                    <td data-label="Values">1500.00</td>
                </tr>
                <tr>
                    <td data-label="Attribute">Kavitha</td>
                    <td data-label="Values">Psychiatrist</td>
                    <td data-label="Values">900.00</td>
                </tr>

                
                
                
    
            </tbody>
        </table> -->
        

        <!-- Cards with media area -->

<div class="cardcontent">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let d of dataset">
            <div class="course-container" *ngIf="searchText === '' || d.doctorName.toLowerCase().includes(searchText) || d.specialization.toLowerCase().includes(searchText)">
                <mat-card class="mat-elevation-z4">
                    <mat-card-header>
                        <mat-card-title><b>{{d.doctorName}}</b></mat-card-title>
                        <mat-card-title>{{d.specialization}}</mat-card-title>
                    </mat-card-header>
                    <img mat-card-image src="{{d.image}}" width="140px" height="150px">
                    <mat-card-content>
                        <p>{{d.schedule}}</p>
                        <p>{{d.desc}}</p>
                        
                    </mat-card-content>
                    
                </mat-card>
            </div>
            
        </div>
    </div>
    
</div>





    </div>
</div>
