

<div class="container">
    <div class="content">
        <h3 style="color:lightseagreen;">UPDATE DOCTOR PROFILE</h3><br><br>
        <div class="doctor-profile">
            <h4> Enter Doctor ID : <input type="text"></h4>
            <img src="/assets/images/doctor-profile.jpg" alt="" width="10%;">
        </div>
        
        <table class="table" border="none">
            
            <tbody>
                <tr>
                    <td data-label="Attribute"><strong>Name:</strong></td>
                    <td data-label="Values" colspan="2"><input type="text" placeholder="Dr. Ananya"></td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Age:</strong></td>
                    <td data-label="Values" colspan="2"><input type="text" placeholder="35"></td>
                </tr>
                <tr>
                  <td data-label="Attribute"><strong>Gender:</strong></td>
                  <td data-label="Values" colspan="2"><input type="text" placeholder="Female"></td>
              </tr>
                <tr>
                    <td data-label="Attribute"><strong>Specialization:</strong></td>
                    <td data-label="Values" colspan="2"><input type="text" placeholder="ENT"></td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Experience::</strong></td>
                    <td data-label="Values" colspan="2"><input type="text" placeholder="15 years"></td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Language Spoken:</strong></td>
                    <td data-label="Values" colspan="2"><input type="text" placeholder="English, Hindi"></td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Mobile No:</strong></td>
                    <td data-label="Values" colspan="2"><input type="text" placeholder="9897976654"></td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Email:</strong></td>
                    <td data-label="Values" colspan="2"><input type="text" placeholder="ananya56@gmail.com"></td>
                </tr>
                <tr>
                    <td data-label="Attribute"><strong>Schedule:</strong></td>
                    <td data-label="Values" colspan="2"><textarea name="" id="" cols="22" rows="5" formControlName="sdl"placeholder="Monday:2:30PM-4:00PM,&nbsp; &nbsp;Wednesday:12:00PM-3:00PM"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2" class="button_row"><a href=""><button class="btn">Update Details</button></a></td>
                </tr>
                
    
            </tbody>
        </table>
        
        
    </div>
</div>