
<div class="container">
    <div class="content">
        <h2 style="color:lightseagreen;">PATIENT PROFILE</h2><br><br>
        <h4>Ref No : 13456</h4>
        <table class="table" border="none">
            
            <tbody>
                <tr>
                    <td data-label="Attribute">Patient Name:</td>
                    <td data-label="Values">Rahul</td>
                </tr>
                
                <tr>
                    <td data-label="Attribute">D.O.B:</td>
                    <td data-label="Values">09/10/2004</td>
                </tr>
                <tr>
                  <td data-label="Attribute">Age/Gender:</td>
                  <td data-label="Values">19 years/M</td>
              </tr>
                <tr>
                    <td data-label="Attribute">Blood Group:</td>
                    <td data-label="Values">A+</td>
                </tr>
                <tr>
                    <td data-label="Attribute">Email:</td>
                    <td data-label="Values">rahul@gmail.com</td>
                </tr>
                <tr>
                    <td data-label="Attribute">Address:</td>
                    <td data-label="Values">Thrissur,Kerala</td>
                </tr>
                <tr>
                    <td data-label="Attribute">Mobile No:</td>
                    <td data-label="Values">9897976654</td>
                </tr>
                
                <!-- <tr>
                    <td data-label="Attribute"></td>
                    <td data-label="Values"><img src="" alt="" width="40px;"></td>
                </tr> -->
                <!-- <tr>
                    <td colspan="2" class="button_row"><a href="{% url 'editprofile_customerpage' %}"><button>Edit Profile</button></a></td>
                </tr> -->
                
                
    
            </tbody>
        </table>
        <h2>Recent Treatment Details</h2>
        <table class="table" border="none">
            
            <tbody>
                <tr>
                    <td data-label="Attribute">Treatment Name:</td>
                    <td data-label="Values">Nose Problem</td>
                </tr>
                <tr>
                    <td data-label="Attribute">Doctor Name:</td>
                    <td data-label="Values">Dr. Ananya, ENT Specialist</td>
                </tr>
                <tr>
                  <td data-label="Attribute">Prescription:</td>
                  <td data-label="Values">Fluticasone/Mometasone Nose Spray</td>
              </tr>
                <tr>
                    <td data-label="Attribute">Remark:</td>
                    <td data-label="Values">Use at Bedtime</td>
                </tr>
                <tr>
                    <td data-label="Attribute">Advice:</td>
                    <td data-label="Values">You don't get the full effect for several days or even a week,But if you use it daily, it'll be incredibly effective</td>
                </tr>
                
                <!-- <tr>
                    <td colspan="2" class="button_row"><a href="{% url 'editprofile_customerpage' %}"><button>Edit Profile</button></a></td>
                </tr> -->
                
                
    
            </tbody>
        </table>
    </div>
</div>