
<div class="container">
    <div class="content">
        <section class="payment_section"style="padding-top:8%;">
            <!-- <h2>PAYMENT</h2> -->
                
                    <form action="">
                       
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <h3 class="title">Payment Details</h3>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6">
                                        <img src="/assets/images/card_new2.jpg" alt="" width="100%">
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="inputbox">
                                            <span>Card holder's name :</span>
                                            <input type="text" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="inputbox">
                                            <span>Card number :</span>
                                            <input type="number" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <div class="inputbox">
                                            <span>Expiry month :</span>
                                            <input type="text" placeholder="">
                                        </div>
                                        
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <div class="inputbox">
                                            <span>Expiry year :</span>
                                            <input type="number" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-4">
                                        <div class="inputbox">
                                            <span>CVV :</span>
                                            <input type="number" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                
                                
                               
                        
                            
                        
                        <a href=""><button class="btn">Make Payment</button></a>
                    </form>
                
            
            
            
            </section>
    </div>

</div>