<div class="container">
    <div class="content">
        <h2 style="color:lightseagreen;">TREATMENT HISTORY</h2><br><br>
        
        <table class="table" border="1px solid">
            <thead>
                
                    <th>Ref No</th>
                    <th>Patient Name</th>
                    <th>Doctor Name</th>
                    <th>Dept</th>
                    <th>Date</th>
                    <th>Prescription</th>
                    <th>Action</th>
                    
                
            </thead>
            <tbody>
                <tr>
                    <td data-label="Ref No">13456</td>
                    <td data-label="Patient Name">Rahul</td>
                    <td data-label="Doctor Name">Ananya</td>
                    <td data-label="Dept">ENT</td>
                    <td data-label="Date">10/1/2023</td>
                    <td data-label="Prescription"><a [routerLink]="'/prescription'" style="text-decoration:none;">View</a></td>
                    <td data-label="Action"><a [routerLink]="'/treatment-history'" style="text-decoration:none;">Delete</a></td>
                   
                </tr>
                <tr>
                    <td data-label="Ref No">13456</td>
                    <td data-label="Patient Name">Rahul</td>
                    <td data-label="Doctor Name">Mohit</td>
                    <td data-label="Dept">GM</td>
                    <td data-label="Date">23/7/2022</td>
                    <td data-label="Prescription"><a [routerLink]="'/prescription'" style="text-decoration:none;">View</a></td>
                    <td data-label="Action"><a [routerLink]="'/treatment-history'" style="text-decoration:none;">Delete</a></td>
                   
                </tr>
                <tr>
                    <td data-label="Ref No">13456</td>
                    <td data-label="Patient Name">Rahul</td>
                    <td data-label="Doctor Name">Ananya</td>
                    <td data-label="Dept">ENT</td>
                    <td data-label="Date">13/1/2022</td>
                    <td data-label="Prescription"><a [routerLink]="'/prescription'" style="text-decoration:none;">View</a></td>
                    <td data-label="Action"><a [routerLink]="'/treatment-history'" style="text-decoration:none;">Delete</a></td>
                   
                </tr>
                
            </tbody>
            
        </table><br><br>


        
    </div>
</div>

