<div class="container">
    <div class="content">
        <h2 style="color:lightseagreen;">UPDATE PROFILE</h2><br><br>
        <h4>Ref No: 13456</h4>
        
        
       
                
             
        <table class="table" border="none">
            
            <tbody>
                <tr>
                    <td data-label="Attribute">NAME:</td>
                    <td data-label="Values"><input type="text" placeholder="Rahul"></td>
                </tr>
                <tr>
                    <td data-label="Attribute">D.O.B:</td>
                    <td data-label="Values"><input type="text" placeholder="09/10/2004"></td>
                </tr>
                <tr>
                  <td data-label="Attribute">AGE/GENDER:</td>
                  <td data-label="Values"><input type="text" placeholder="9 years/M"></td>
              </tr>
                <tr>
                    <td data-label="Attribute">BLOOD GROUP:</td>
                    <td data-label="Values"><input type="text" placeholder="A+"></td>
                </tr>
                <tr>
                    <td data-label="Attribute">EMAIL:</td>
                    <td data-label="Values"><input type="text" placeholder="rahul@gmail.com"></td>
                </tr>
                <tr>
                    <td data-label="Attribute">ADDRESS:</td>
                    <td data-label="Values"><input type="text" placeholder="Thrissur,Kerala"></td>
                </tr>
                <tr>
                    <td data-label="Attribute">MOBILE NO:</td>
                    <td data-label="Values"><input type="text" placeholder="9897976654"></td>
                </tr>
                
               
                <tr>
                    <td colspan="2" class="button_row"><a href=""><button class="btn btn-sm">Submit</button></a></td>
                </tr>
                
                
    
            </tbody>
        </table>
    </div>
</div>
