<app-navbar></app-navbar>
<img src="/assets/images/home.jpg" alt="" class="d-block w-100" alt="..."width="150%;" style="position:absolute;">
<h1 class="home_banner_text1">We Care</h1>
<h1 class="home_banner_text2">Your Health</h1>
<section class="modules">

    <div class="container">
      <div class="row">
       
        
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="card" style="border:none;">
            <!-- <a [routerLink]="'/admin-dashboard'"><img src="/assets/images/admin1.png" class="card-img-top img-fluid" alt="..." style="width:500px;height:200px;"></a> -->
            <a [routerLink]="'/login'"><img src="/assets/images/admin1.png" class="card-img-top img-fluid" alt="..." style="width:100px;height:100px;"></a>
            
            <div class="card-body">
              <h5 class="card-title" style="color:#607d8b;">Admin</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
      
      
        <div class="col-sm-4 col-md-4 col-lg-4">
        
          <div class="card" style="border:none;">
            <!-- <a [routerLink]="'/login'"><img src="/assets/images/user.jpg" class="card-img-top img-fluid" alt="..." style="width:500px;height:200px;"></a> -->
            <a [routerLink]="'/loginPatient'"><img src="/assets/images/user.jpg" class="card-img-top img-fluid" alt="..." style="width:100px;height:100px;"></a>
            
            <div class="card-body">
              <h5 class="card-title" style="color:#607d8b;">Patient</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        
     
        <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="card" style="border:none;">
            <!-- <a [routerLink]="'/login'"><img src="/assets/images/doc.png" class="card-img-top img-fluid" alt="..." style="width:500px;height:200px;"></a> -->
            <a [routerLink]="'/loginDoctor'"><img src="/assets/images/doc.png" class="card-img-top img-fluid" alt="..." style="width:100px;height:100px;"></a>

            <div class="card-body">
            <h5 class="card-title" style="color:#607d8b;">Doctor</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
        </div>
       
      </div>
    </div>
</section>

<footer class="site_footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h2>About Us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ea cum voluptate soluta itaque illo excepturi labore vitae adipisci sequi.</p>
                <p><a href="#">Click here to learn more</a></p>
            </div>
            <div class="col-md-3">
                <h2>Contact &amp; Address</h2>
                <ul class="list-unstyled footer-link">
                    <li class="d-flex">
                        <span class="me-3">Address:</span>
                        <span>28 avenue Name, Cityname here, Country Name here</span>
                            
                        
                    </li>
                    <li class="d-flex">
                        <span class="me-3">Telephone:</span>
                        <span>+971666765432</span>
                        
                    </li>
                    <li class="d-flex">
                        <span class="me-3">Email:</span><span>
                            care_and_cure@gmail.com</span>
                        
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Quick Links</h2>
                <ul class="list-unstyled footer-link">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Register</a></li>

                </ul>
            </div>
            <div class="col-md-3 footer-social">
                <h2>Our social media</h2>
                <ul class="list-unstyled footer-link d-flex">
                    <li><a href="#"><span class="fa-brands fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fa-brands fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fa-brands fa-instagram"></span></a></li>
                    <li><a href="#"><span class="fa-brands fa-linkedin"></span></a></li>
                    <li><a href="#"><span class="fa-brands fa-youtube"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    
</footer>
